body {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.container {
    width: 900px;
    height: 100vh;
    margin: 0 auto;
}

.button {
    width: 411px;
    height: 71px;
    background: #FFF2AC;
    border-radius: 25px;
    margin-top: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #D7CC90;
    font-weight: 700;
    text-transform: uppercase;
}

